html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

ul li::marker {
  color: #3f2aff;
}

.main-header {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.article-header {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.graybox-header {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.text {
  margin-top: 0;
  margin-bottom: 40px;
  width: 872px;
}

.text-box {
  padding: 50px 95px;
  width: 100%;
  border-radius: 20px;

  font-weight: 700;
  font-size: 30px;
  color: white;

  background-color: #3f2aff;
}

.image {
  margin-bottom: 40px;
}

.image_with_caption {
  display: inline-block;
  width: 872px;
  margin: 0 0 40px 0;
}

.gray-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;

  background-position: right center;
  background-repeat: no-repeat;
}

.gray-box:last-child {
  margin-bottom: 0;
}

.gray-box .text {
  margin-bottom: 10px;
  width: 692px;
}

.gray-box-background-image-1 {
  background-image: url("../img/decorate-1.png");
}

.gray-box-background-image-2 {
  background-image: url("../img/decorate-2.png");
}

.list {
  margin-top: 0;
  padding-left: 15px;
}

.list-element {
  margin-bottom: 20px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 18px;

  background-color: #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.list-link {
  font-size: 20px;
  color: #3f2aff;
  border-bottom: 1px solid #3f2aff;
}

.download_link {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;

  background-image: url("../img/download.png");
  background-position: left center;
  background-repeat: no-repeat;
}
